#warpper{
	font-family: 'Margarine', sans-serif;
	min-height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}
#login_row{
	height: 5vh;
	background-color: #6E4F74;
	font-size: 3vh;
	padding-right: 5%;
	padding-left: 5%;
}
.middle{
	display:table-cell;
	vertical-align:middle;
	height: 5vh;
}
.left{
	float: left;
}
.right{
	float: right;
}
.btn_m{
	height: 4vh;
}
.seperator{
    height: 100%;
    border-left-style: solid;
    border-left-width: 2px;
    width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}