#warpper{
	font-family: 'McLaren', sans-serif;
	min-height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}
#login_row{
	height: 5vh;
	background-color: #FFF;
	font-size: 3vh;
	margin-bottom: 5px;

}
.middle{
	display:table-cell;
	vertical-align:middle;
	height: 5vh;
}
.left{
	float: left;
	padding: 0;
	margin: 0;
}
.right{
	float: right;
}
.btn_m{
	height: 4vh !important;
	font-size: 100%;
	display:table-cell;
	vertical-align:middle;
	padding: 0 5px;
	margin-right: 5px;
}
#image_row{
	height: 50vh;
	background-image: url('../image/start_page.jpg');
	background-position: bottom;
	background-size: auto;
	background-repeat: no-repeat;
}
.seperator{
    height: 100%;
    border-left-style: solid;
    border-left-width: 2px;
    width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: #337ab7;
}
.absolute{
	margin: 0;
	padding: 0;
}
.li_kategory{
	list-style: none;
	margin-bottom: 5px;
}
.radio{
	margin-left: 15%;
}

@media (min-width:1095px) {
    /*HERE PUT YOUR CODE FOR LG */
    .h1_titleWeb{
		font-size: 15vh;
		display: block;
		color: white;
	}
}

@media (min-width:768px) and (max-width:1095px) {
    /*HERE PUT YOUR CODE FOR MD */
    .h1_titleWeb{
		font-size: 10vh;
		display: block;
		color: white;
	}
}

@media (min-width:481px) and (max-width:767px) { 
    /*HERE PUT YOUR CODE FOR  SM */
    .h1_titleWeb{
		font-size: 6vh;
		display: block;
		color: white;
	}
}

@media (max-width:481px) { 
    /*HERE PUT YOUR CODE FOR  XS */
    .h1_titleWeb{
		font-size: 4vh;
		display: block;
		color: white;
	}
}
